body {
  background-color:  #292929;
  color: #67f5ff;
}

header {
  display: grid;
  grid-template-rows: 1fr 0.4fr;
}

a:link {
  color:brown;
}

.carrusel {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  margin: 1vw 4vw 0vw;
}

.carrusel img {
  width: 100%;
  height: 100%;
}

.carousel-indicators {
  margin-bottom: 5px;
}

.titulo {
 margin: 10px;
}

.titulo h1{
	color: rgb(103, 245, 255);
	justify-content: center;
	font-family: "Comfortaa";
	font-size: 10vw;
  border-bottom: 4px solid #ffffff;
	width: 60%;
	text-align: center;
	margin: auto;
}

.botones {
  margin: 4vw;
}

button {
  background-color: #29292900;
}

.normal {
  width: 47%;
}

ul {
  display: grid;
  grid-gap: 20px;
  list-style: none;
  padding: 10px;
}

ul .largo{
  grid-template-columns: 1fr;
  width: 100%;
	grid-template-rows: 1fr;
	grid-gap: 20px;
}
ul .normal{
  grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}


li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

li .largo {
  grid-template-columns: 1fr;
}

a.button1{
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 50px;

  padding:2em 1.2em;
  border:0.1em solid #67f5ff;
  margin:0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#67f5ff;
  text-align: end;
  /* font-size: minmax(350px, 1fr); */
  transition: all 0.3s;
  width: 100%;
}
  a.button1:hover{
  color:#000000;
  background-color:#67f5ff;
}
  @media all and (max-width:30em){
   a.button1{
   display:block;
   margin:0.3em auto;
  }
}

.icono-boton {
  justify-self: center;
  align-self: center;
}

h3 {
  font-size: 5vh;
}

h4 {
  font-size: 2.5vh;
}